.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  background: #1b1b1b;
  color: #e4e4e4;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #414141;
  color: #f4f4f4;
}

.button--inverse {
  background-color: #e4e4e4;
  color: #1b1b1b;
}

.button--inverse:hover {
  background-color: #1b1b1b;
  color: #e4e4e4;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
